.contenedor-home{
  display: flex;
  height: 100vh;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: #2C2F38;
}

.contenedor-home button{
  background-color: #333640;
  border-radius: 0;
  width: 300px;
}

.contenedor-home button:hover{
  background-color: #2C2F38;
}

.contenedor-home button.active{
  background-color: #2C2F38;
}