@keyframes backgroundFadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: #2C2F38;
  }
}

.contenedor-administrativo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.contenedor-administrativo h2{
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 0.5fr; /* Ajusta el ancho de las columnas aquí */
  border-radius: 8px;
  overflow: hidden;
}

.grid-header {
  font-weight: bold;      
  padding: 10px;
  text-align: center;
  background-color: #1bb300;
}

.grid-item {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: backgroundFadeIn 3s ease 0.01s forwards;
}

.grid-item:nth-child(3n) {
  border-right: none;
}

.contenedor-administrativo .grid-item button{
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #731a1a;
}

.contenedor-administrativo .grid-item .editar{
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #a64921;
}

.contenedor-administrativo .grid-item .editar:hover{
  background-color: rgb(216, 102, 53);
}

.contenedor-administrativo .grid-item button:hover{
  background-color: #9c2d2d;
}

.contenedor-administrativo button{
  width: 200px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a7339;
  cursor: pointer;
  transition: border-color 0.25s;
}

.contenedor-administrativo button:hover{
  background-color: #40AD55;
}