@keyframes displayAnimation {
    from {
      opacity: 0;
      transform: translateY(20px); /* Opcional: para deslizar desde abajo */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.registro-ventas-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #2C2F38;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form .submit-button,
form .boton-buscar {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form .submit-button:hover,
form .boton-buscar:hover {
    background-color: #0056b3;
}

.flex-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden; /* Opcional para evitar desbordamiento */
    background-color: #353535;
    max-height: 100%;
    overflow-y: auto;
}
  
.flex-header {
    display: flex;
    font-weight: bold; /* Negrita para los textos del encabezado */
    position: sticky; /* Mantiene el encabezado fijo en la parte superior durante el scroll */
    top: 0; /* Ajusta para mantener el encabezado en la parte superior */
    z-index: 1; /* Asegura que el encabezado esté por encima de las filas de datos */
}
  
.flex-row {
    display: flex;
    animation: displayAnimation 3s ease 0.01s forwards;
}
  
.flex-item {
    flex: 1; /* Se expande para ocupar espacio disponible */
    padding: 10px;
    text-align: center;
}
  
.flex-item:last-child {
    border-right: none; /* Elimina borde derecho en la última columna */
}
  
.flex-header .flex-item {
    text-align: center;
    padding: 15px; /* Mayor padding para los encabezados */
    background-color: #0056b3;
}

.flex-container::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
/* Estilo para el "thumb" del scrollbar */
.flex-container::-webkit-scrollbar-thumb {
    background-color: #2C2F38; /* Color del thumb */
    border-radius: 6px; /* Bordes redondeados */
}
  
  /* Estilo para el "track" del scrollbar */
.flex-container::-webkit-scrollbar-track {
    background-color: #242424; /* Color de fondo del track */
    border-radius: 6px; /* Bordes redondeados */
}