.contenedor-reporte-ventas{
  margin: 20px;
  width: 100%;
  height: calc(100%-20px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contenedor-cabecero{
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 10%;
  border-radius: 10px;
  color: black;
  justify-content: space-between;
  align-items: center;
}

.contenedor-inicial{
  margin-left: 40px;
}

.contenedor-final{
  margin-right: 40px;
}

.info-text {
  font-size: 16px;
  color: #555;
}

.info-value {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden; /* Opcional para evitar desbordamiento */
  background-color: #353535;
  max-height: 80%;
  overflow-y: auto;
}

.flex-header {
  display: flex;
  font-weight: bold; /* Negrita para los textos del encabezado */
  position: sticky; /* Mantiene el encabezado fijo en la parte superior durante el scroll */
  top: 0; /* Ajusta para mantener el encabezado en la parte superior */
  z-index: 1; /* Asegura que el encabezado esté por encima de las filas de datos */
}

.flex-row {
  display: flex;
  animation: displayAnimation 3s ease 0.01s forwards;
}

.flex-item {
  flex: 1; /* Se expande para ocupar espacio disponible */
  padding: 10px;
  text-align: center;
}

.flex-item:last-child {
  border-right: none; /* Elimina borde derecho en la última columna */
}

.flex-header .flex-item {
  text-align: center;
  padding: 15px; /* Mayor padding para los encabezados */
  background-color: #0056b3;
}

.flex-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

/* Estilo para el "thumb" del scrollbar */
.flex-container::-webkit-scrollbar-thumb {
  background-color: #2C2F38; /* Color del thumb */
  border-radius: 6px; /* Bordes redondeados */
}

/* Estilo para el "track" del scrollbar */
.flex-container::-webkit-scrollbar-track {
  background-color: #242424; /* Color de fondo del track */
  border-radius: 6px; /* Bordes redondeados */
}